/***** BASE STYLES *****/

body {
    background-color: #DAF7F6;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    line-height: 16px;
}

/***** HEADER *****/

header {
    background-color: #ffffff;
    text-align: center;
}

header h1 {
    color: #F16059;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    font-weight: bold;
    margin: 0;
    padding: 30px;
    text-transform: uppercase;
}

header img {
	margin-right: 10px;
}

main {
    margin: 0 auto;
    width: 1000px;
}

.card {
    margin-top: 30px;
    margin-bottom: 30px;
    overflow: auto;
}

.image {
    float: left;
    width: 500px;
    height: 500px;
}

.recipe {
    background-color: #ffffff;
    float: left;
    padding: 20px;
    width: 500px;
    height: 500px;
    box-sizing: border-box;
}

#cookies .image {
    background-image: url("../img/gluten-free-sugar-cookies.jpg");
    background-size: cover;
}

#pesto .image {
    background-image: url("../img/nut-free-pesto.jpg");
    background-size: cover;
}

#salad .image {
    background-image: url("../img/watermelon-salad.jpg");
    background-size: cover;

}

.recipe h2 {
    color: #F16059;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 10px;
}

.time {
    margin-bottom: 15px;
    border: 1px solid #3B3B3B;
    overflow: auto;
}

.time div {
    float: left;
    padding-left: 6px;
    width: 33.3333%;
    box-sizing: border-box;
    text-transform: uppercase;
}

.time .cook {
    border-width: 0 1px;
	border-style: solid;
	border-color: #3B3B3B;
}

.time img {
    width: 15px;
    height: auto;
    margin-right: 5px;
    vertical-align: middle;
}

.time-details {
    display: inline-block;
}

.time strong {
    font-family: 'Montserrat', sans-serif;
}

.columns {
    overflow: auto;
}

.directions {
    float: left;
    width: 240px;
}

.ingredients {
    float: left;
    width: 205px;
    margin-right: 10px;
}

.recipe h3 {
    padding: 5px;
    color: #F16059;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    border-top: 1px solid #3B3B3B;
    border-bottom: 1px solid #3B3B3B;
}

.ingredients ul {
    list-style-type: square;
    padding-left: 20px;
    line-height: 18px;
}

.directions ol {
    padding-left: 20px;
    line-height: 18px;
}